<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Employee Id</th>
            <th scope="col">Department</th>
            <th scope="col">jobtitle</th>
            <th scope="col">Manager's Email</th>
            <th scope="col">Make Admin</th>
            <th scope="col">Edit/Map</th>
            <th scope="col">Remove</th>
          </tr>
    </thead>
    <% for(let i=0;i<Empdata.length;i++) { %>
       <tr>
           <td><%= Empdata[i].name %></td> 
           <td><%= Empdata[i].email %></td>
            <td><%= Empdata[i].empid %></td>
            <td> <%= Empdata[i].department %></td>
            <td><%= Empdata[i].jobtitle %></td>
            <td><%= Empdata[i].manager_email %></td>
            <% if(!Empdata[i].is_admin){ %>
            <td><button class="btn btn-primary" onclick="location.href='/admin/addasAdmin/?id=<%= Empdata[i].id%>'">Make Admin</button ></td>
            <% }else{ %>
            <td><button class="btn btn-danger" onclick="location.href='/admin/removeasAdmin/?id=<%= Empdata[i].id%>'"">Remove Admin</button ></td>

            <% } %>
            <td><a id="removeEmp" href="/employee/admin/map/?id=<%= Empdata[i].id %>">Edit/Map</a></td>
            <td><a id="removeEmp" href="/employee/delete/?id=<%= Empdata[i].id %>">Remove</a></td>
        </tr>
    <% } %>
</table>